<?xml version="1.0"?>
<config>
    <modules>
        <TIG_TinyPNG>
            <version>1.0.0</version>
        </TIG_TinyPNG>
    </modules>
    <global>
        <blocks>
            <tig_tinypng>
                <class>TIG_TinyPNG_Block</class>
            </tig_tinypng>
        </blocks>
        <helpers>
            <tig_tinypng>
                <class>TIG_TinyPNG_Helper</class>
            </tig_tinypng>
        </helpers>
        <models>
            <tig_tinypng>
                <class>TIG_TinyPNG_Model</class>
                <resourceModel>tig_tinypng_resource</resourceModel>
            </tig_tinypng>
            <tig_tinypng_resource>
                <class>TIG_TinyPNG_Model_Resource</class>
                <entities>
                    <image>
                        <table>tig_tinypng_image</table>
                    </image>
                </entities>
            </tig_tinypng_resource>
            <catalog>
                <rewrite>
                    <product_image>TIG_TinyPNG_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <tig_tinypng_setup>
                <setup>
                    <module>TIG_TinyPNG</module>
                </setup>
            </tig_tinypng_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tig_tinypng after="Mage_Adminhtml">TIG_TinyPNG</tig_tinypng>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tig_tinypng>
                    <file>TIG/TinyPNG.xml</file>
                </tig_tinypng>
            </updates>
        </layout>
        <translate>
            <modules>
                <TIG_TinyPNG>
                    <files>
                        <default>TIG_TinyPNG.csv</default>
                    </files>
                </TIG_TinyPNG>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <tig_tinypng>
            <settings>
                <enabled>2</enabled>
            </settings>
            <configuration>
                <compression_quality>95</compression_quality>
                <product_compression>thumbnail,small_image,image,media_image</product_compression>
            </configuration>
        </tig_tinypng>
    </default>
</config>
