<?xml version="1.0"?>
<config>
    <modules>
        <TIG_TinyPNG>
            <version>1.1.0</version>
            <stability>beta</stability>
        </TIG_TinyPNG>
    </modules>
    <global>
        <blocks>
            <tig_tinypng>
                <class>TIG_TinyPNG_Block</class>
            </tig_tinypng>
        </blocks>
        <helpers>
            <tig_tinypng>
                <class>TIG_TinyPNG_Helper</class>
            </tig_tinypng>
        </helpers>
        <models>
            <tig_tinypng>
                <class>TIG_TinyPNG_Model</class>
                <resourceModel>tig_tinypng_resource</resourceModel>
            </tig_tinypng>
            <tig_tinypng_resource>
                <class>TIG_TinyPNG_Model_Resource</class>
                <entities>
                    <image>
                        <table>tig_tinypng_image</table>
                    </image>
                    <totals>
                        <table>tig_tinypng_totals</table>
                    </totals>
                </entities>
            </tig_tinypng_resource>
            <catalog>
                <rewrite>
                    <product_image>TIG_TinyPNG_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <tig_tinypng_setup>
                <setup>
                    <module>TIG_TinyPNG</module>
                </setup>
            </tig_tinypng_setup>
        </resources>
        <events>
            <catalog_product_image_save_after>
                <observers>
                    <tig_tinypng_compress_product_image>
                        <type>singleton</type>
                        <class>TIG_TinyPNG_Model_Observer</class>
                        <method>catalogProductImageSaveAfter</method>
                    </tig_tinypng_compress_product_image>
                </observers>
            </catalog_product_image_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tig_tinypng after="Mage_Adminhtml">TIG_TinyPNG</tig_tinypng>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tig_tinypng>
                    <file>TIG/TinyPNG.xml</file>
                </tig_tinypng>
            </updates>
        </layout>
        <translate>
            <modules>
                <TIG_TinyPNG>
                    <files>
                        <default>TIG_TinyPNG.csv</default>
                    </files>
                </TIG_TinyPNG>
            </modules>
        </translate>
        <events>
            <clean_catalog_images_cache_after>
                <observers>
                    <!-- Delete models after clearing the image cache -->
                    <tig_tinypng_delete_models>
                        <class>TIG_TinyPNG_Model_Observer</class>
                        <method>imageCacheFlush</method>
                    </tig_tinypng_delete_models>
                </observers>
            </clean_catalog_images_cache_after>
        </events>
    </adminhtml>
    <default>
        <tig_tinypng>
            <settings>
                <enabled>2</enabled>
            </settings>
            <advanced>
                <logging_mode>all</logging_mode>
                <product_compression>thumbnail,small_image,image,media_image</product_compression>
            </advanced>
        </tig_tinypng>
    </default>
</config>
