/* default magento override */

.content-header h3 {
    color:#253033;
}

/* Logos */
#tig_tinypng_support .content-heading {
    background-image: url('../../../images/TIG/TinyPNG/tig-logo-32.png') !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    line-height: 35px;
    padding-left: 40px;
    padding-bottom: 5px;
}
.tig-tinypng-section {
    position: relative;
    line-height: 24px;
}
.tig-tinypng-section span {
    padding-left: 46px !important;
}
.tig-tinypng-section:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 18px;
    height: 30px;
    width: 24px;
    background-image: url('../../../images/TIG/TinyPNG/tig-logo-24.png') !important;
    background-position: 0 3px !important;
    background-repeat: no-repeat !important;
}

/* General */
#tig_tinypng_support p,
#tig_tinypng_support ul,
#tig_tinypng_support ol {
    padding: 6px 0 10px 0;
}

#tig_tinypng_support ol {
    list-style: decimal inside;
}
#tig_tinypng_support ol ol {
    list-style: lower-alpha inside;
    padding: 0 0 10px 12px;
}
#tig_tinypng_support ul ul {
    list-style:none;
    padding: 0 0 10px 12px;
}
#tig_tinypng_support h2.content-heading {
    color: #009f3e;
    border-bottom: 4px solid #dfdfdf;
}
#tig_tinypng_support h2.content-heading .content-heading-logo {
    height: 24px;
}

#tig_tinypng_support h4,
#tig_tinypng_support p {
    margin: 0;
}

#tig_tinypng_support a {
    color: #0088cc;
}

#tig_tinypng_support a:hover {
    text-decoration:none;
}

#tig_tinypng_support a.pdf {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 0 0 21px;
    background: url('../../../images/TIG/TinyPNG/glyph_go.png') no-repeat;
}
#tig_tinypng_support .text-box {
    background: #fff;
    padding: 9px 16px;
    margin: 6px 0 10px;
    border: 1px solid #ccc;
}
#tig_tinypng_support table.contact {
    margin: 0 0 25px -1px;
}
#tig_tinypng_support table.contact td {
    padding: 0;
}
#tig_tinypng_support table.contact td.first {
    width: 150px;
    padding-right: 5px;
}

/* Structure */
#tig_tinypng_support .form-list {
    width: 100%;
}
#tig_tinypng_support #supportWrap .column {
    width: 50%;
}
#tig_tinypng_support #supportWrap .column-gutter {
    padding: 0 5px;
}

/* Support-tab Buttons */


#tig_tinypng_support .manual-links li {
    line-height: 32px;
}

#tig_tinypng_support .manual-links li a,
#tig_tinypng_support .manual-links td a{
    text-decoration: none;
    display: inline-block;
    background: #009f3e;
    height: 31px;
    line-height: 31px;
    color: #fff !important;
    border:1px solid #3c8c37;
    border-radius: 2px;
    padding: 0 30px 0 11px;
    -moz-box-shadow: 0 2px 4px 1px rgba(0,0,0,0.14);
         box-shadow: 0 2px 4px 1px rgba(0,0,0,0.14);
    position:relative;
    margin-right: 15px;

}
#tig_tinypng_support .manual-links li a:after,
#tig_tinypng_support .manual-links td a:after{
    background: url('../../../images/TIG/Tinypng/glyph_go.png') 13px 11px no-repeat;
    content: ' ';
    height: 31px;
    line-height: 31px;
    position: absolute;
    top: -2px;
    right: 0;
    width: 30px;
}

#tig_tinypng_support .manual-links li a:hover,
#tig_tinypng_support .manual-links td a:hover{
    -moz-box-shadow: none;
         box-shadow: none;
    background:#007f3b;
}
#tig_tinypng_support .manual-links li a:active,
#tig_tinypng_support .manual-links td a:active{
    border-color: #009f3e;
    position: relative;
    top: 1px;
}

/* Modus radios */
.wrapper-radio {
    margin-bottom: 3px;
}

.wrapper-radio input {
    margin-right: 5px;
}

/* information block */
.text-box .heading { float:left; width: 100%; }
.text-box .heading .heading-title { float:left; margin:0 0.5em 0.5em 0; }
.text-box .heading .tiny-logo { float:left; }

.block { margin-top: 20px; }

/* Compressions status */
#tig_tinypng_compression {
    background: #fff;
    padding: 9px 16px;
    margin: 6px 0 10px;
    border: 1px solid #ccc;
}

#tig_tinypng_compression td {
    padding-top:2px;
    padding-bottom:2px;
    margin:0;
}

#tig_tinypng_compression .image_path {
    padding-right: 15px;
    border-right: 1px solid #007f3b;
}

#tig_tinypng_compression .image_path img {
    max-width: 100px;
    max-height: 100px;
}

#tig_tinypng_compression .info_box {
    padding: 0 0 0 25px;
}

#tig_tinypng_compression .show_less td,
#tig_tinypng_compression .show_more td {
    text-align:center;
}

#tig_tinypng_compression .show_less td a,
#tig_tinypng_compression .show_more td a {
    cursor: pointer;
}