/* Default Magento Override */

.content-header h3 {
    color:#253033;
}

/* Modus radios */
.wrapper-radio { margin-bottom: 3px; }
.wrapper-radio input { margin-right: 5px; }
#row_tig_tinypng_status_usage .label { vertical-align: middle; }
.radio-container { display: inline-block; }
.radio-container + .field-tooltip { float:right; }

/* ======== Logo / Identity ======== */

/* logo in title bar */
#tig_tinypng_support .content-heading {     background: url('../../../images/TIG/TinyPNG/george-menu-icon@2x.png') no-repeat 0 0px !important;
    background-size: auto 40px !important;
    line-height: 40px;
    padding-left: 50px;
    padding-bottom: 5px;
}

/* logo in left column */
.tig-tinypng-section { position: relative; line-height: 24px; }
.tig-tinypng-section span { padding-left: 50px !important; }
.tig-tinypng-section:after {     content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 18px;
    height: 40px;
    width: 54px;
    background: url('../../../images/TIG/TinyPNG/george-menu-icon@2x.png') no-repeat 0 0px !important;
    background-size: auto 25px !important;
}
/* ======== Support Tab General ======  */

#tig_tinypng_support { position :relative;}
#tig_tinypng_support p,
#tig_tinypng_support ul,
#tig_tinypng_support ol { padding: 6px 0 10px 0; }

#tig_tinypng_support ol { list-style: decimal inside; }
#tig_tinypng_support ol ol { list-style: lower-alpha inside; padding: 0 0 10px 12px; }
#tig_tinypng_support ul ul { list-style:none; padding: 0 0 10px 12px; }
#tig_tinypng_support h2.content-heading { border-bottom: 4px solid #dfdfdf; }
#tig_tinypng_support h2.content-heading .content-heading-logo { height: 24px; }

#tig_tinypng_support h4,
#tig_tinypng_support p { margin: 0; }

/* ======== Support Tab ====== */

.tiny-logo-bear {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: auto;
    max-width: 20%;
    height: auto;
    max-height: 180px; }

#tig_tinypng_support a:hover { text-decoration:none; }
#tig_tinypng_support img { max-width: 100%; }

#tig_tinypng_support .col-set { float:left; width: 100%; }
#tig_tinypng_support .col-set .col-1 { float:left; width: 75%; box-sizing:border-box; padding-right: 10px; }
#tig_tinypng_support .col-set .col-2 { float:left; width: 25%; box-sizing:border-box; padding-left: 10px;}

#tig_tinypng_support .tig_branding { float:left; width: 100%; }
#tig_tinypng_support .tig_branding .image { float:left; width: 50px; margin-top: 3px; }
#tig_tinypng_support .tig_branding .signature{ float:left; width: calc(100% - 50px); }

/* ======== Connection Settings ======== */

#tinypng_api_status { color: #009f3e;float: left; padding-bottom: 5px; clear: both; }
.tinypng-api-deactivated { color: #cc0000; }

.tinypng_status_success span:before {
    content: ' ';
    background: url('../../../images/TIG/TinyPNG/checkmark.png') no-repeat 0 1px !important;
    background-size: auto 10px !important;
    padding-left: 18px;
    padding-bottom: 5px;
}

.tinypng_status_failure { color: #cc0000; }
.tinypng_status_failure span:before {
    content: ' ';
    background: url('../../../images/TIG/TinyPNG/cross.png') no-repeat 0 1px !important;
    background-size: auto 10px !important;
    padding-left: 17px;
    padding-bottom: 5px;
}

#row_tig_tinypng_settings_api_key a:hover { text-decoration:none; }
#tinypng_check_status { margin-left: 0 !important; float:left; clear:both; }

.tig-tinypng-button.tig-tinypng-button-external {
    position :relative;

    border-width: 1px;
    border-style: solid;
    border-color: #ed6502 #a04300 #a04300 #ed6502;
    padding: 1px 27px 2px 7px;

    color: #fff;
    font: bold 12px arial, helvetica, sans-serif;
    cursor: pointer;
    text-align: center !important;
    white-space: nowrap;
    text-decoration: none;
    background: #fda741;
    background: -webkit-linear-gradient(#fda741, #f46e08);
    background: -o-linear-gradient(#fda741, #f46e08);
    background: -moz-linear-gradient(#fda741, #f46e08);
    background: linear-gradient(#fda741, #f46e08);
}
.tig-tinypng-button.tig-tinypng-button-external:hover {
    position :relative;

    border-width: 1px;
    border-style: solid;
    border-color: #ed6502 #a04300 #a04300 #ed6502;
    padding: 1px 27px 2px 7px;

    color: #fff;
    font: bold 12px arial, helvetica, sans-serif;
    cursor: pointer;
    text-align: center !important;
    white-space: nowrap;
    text-decoration: none;
    background:#fdedd6;
    background: -webkit-linear-gradient(#fdedd6, #f46e08);
    background: -o-linear-gradient(#fdedd6, #f46e08);
    background: -moz-linear-gradient(#fdedd6, #f46e08);
    background: linear-gradient(#fdedd6, #f46e08);
}
.tig-tinypng-button.tig-tinypng-button-external:after {

    background: url('../../../images/TIG/TinyPNG/glyph_go.png') 0px 5px no-repeat;
    content: ' ';
    position: absolute;
    top: -2px;
    right: 0;
    width: 16px;
    height: 15px;
}

/* ======== Image types to optimize ======== */




/* ======== Latest Optimizations ======== */

#tig_tinypng_status tr td .scalable{ margin: 10px 0; }

#tig_tinypng_compression { padding: 9px 0; }
#tig_tinypng_compression td { padding-top:2px; padding-bottom:2px; margin:0; vertical-align:middle; width: 150px; overflow:hidden; }
#tig_tinypng_compression tr.tig_tinypng_log { border-bottom: 1px solid #ececec; float: left; width: 100%; }

#tig_tinypng_compression .image_path { padding-left: 10px; }

#tig_tinypng_compression .image_path img { display: inline-block; max-width: 30px; max-height: 30px; vertical-align: middle;  }

#tig_tinypng_compression .info_box { padding: 0 0 0 20px; }

#tig_tinypng_compression .centered td,
#tig_tinypng_compression .show_less td,
#tig_tinypng_compression .show_more td { text-align:center; }

.tig_tinypng_saved { }

.title-file { width: 45px; }
.title-original { width: 65px; }
.title-now { width: 50px; }

/* ======== Advanced options ======== */


































