<?xml version="1.0"?>
<config>
    <modules>
        <Tiny_CompressImages>
            <version>2.0.1</version>
            <stability>stable</stability>
        </Tiny_CompressImages>
    </modules>
    <global>
        <blocks>
            <tiny_compressimages>
                <class>Tiny_CompressImages_Block</class>
            </tiny_compressimages>
        </blocks>
        <helpers>
            <tiny_compressimages>
                <class>Tiny_CompressImages_Helper</class>
            </tiny_compressimages>
        </helpers>
        <models>
            <tiny_compressimages>
                <class>Tiny_CompressImages_Model</class>
                <resourceModel>tiny_compressimages_resource</resourceModel>
            </tiny_compressimages>
            <tiny_compressimages_resource>
                <class>Tiny_CompressImages_Model_Resource</class>
                <entities>
                    <image>
                        <table>tiny_compressimages_image</table>
                    </image>
                    <totals>
                        <table>tiny_compressimages_totals</table>
                    </totals>
                </entities>
            </tiny_compressimages_resource>
            <catalog>
                <rewrite>
                    <product_image>Tiny_CompressImages_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <tiny_compressimages_setup>
                <setup>
                    <class>Tiny_CompressImages_Model_Resource_Setup</class>
                    <module>Tiny_CompressImages</module>
                </setup>
            </tiny_compressimages_setup>
        </resources>
        <events>
            <catalog_product_image_save_after>
                <observers>
                    <tiny_compressimages_compress_product_image>
                        <type>singleton</type>
                        <class>Tiny_CompressImages_Model_Observer</class>
                        <method>catalogProductImageSaveAfter</method>
                    </tiny_compressimages_compress_product_image>
                </observers>
            </catalog_product_image_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tiny_compressimages after="Mage_Adminhtml">Tiny_CompressImages</tiny_compressimages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tiny_compressimages>
                    <file>Tiny/CompressImages.xml</file>
                </tiny_compressimages>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tiny_CompressImages>
                    <files>
                        <default>Tiny_CompressImages.csv</default>
                    </files>
                </Tiny_CompressImages>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <tiny_compressimages>
            <image_types>
                <base_images>1</base_images>
                <small_images>1</small_images>
                <thumbnails>1</thumbnails>
                <swatches>1</swatches>
            </image_types>
            <advanced>
                <logging_mode>all</logging_mode>
                <enabled>2</enabled>
            </advanced>
        </tiny_compressimages>
    </default>
</config>
